.App {
  margin-top: 25px;
}

.ant-btn {
  margin-top: 10px;
  margin-left: 12px;
}

h2,
h3,
h4,
h5 {
  text-align: center;
}

.true {
  text-decoration: line-through;
}

.CalendarLabel,
.TitleLength {
  margin-left: 30px;
}